/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	font-family: sans-serif;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.header {
	background-color: #FD7341;
	color: #0B3E2E;
	height: 70px;
	width: 100%;
	float: left;
}

.main {
	background-color: #FFFFFF;
	min-height: 700px;
	width: 100%;
	float: left;
}

.footer {
	background-color: #0B3E2E;
	color: #FD7341;
	height: 50px;
	width: 100%;
	float: left;
 }

.footer-text {
 	font-weight: bold;
 	font-size: smaller;
 	text-align: center;
 }

.menu-bar {
 	display: inline-block;
 	vertical-align: top;
 	width: 100%;
 }

.menu-bar li {
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 20px;
	list-style-type: none;
	display: inline;
	margin-left: 10px;
}

.menu-bar li a {
	color: #0B3E2E;
	text-decoration: none;
}

.menu-bar li a:hover {
	color: #18DC9E;
	background-color: #FD7341;
}

.menu-main {
 	padding-left: 0;
 	display: inline-block;
 	float: left;
 	width: 26em;
 }

 .menu-main ul {
	padding-left: 15px;
}

 .menu-login {
	display: inline-block;
	text-align: right;
	float: right;
	width: 30em;
	max-width: 100%;
}

.menu-login ul {
	padding-right: 0;
	padding-left: 0;
}

.menu-login li {
	font-variant: normal;
	font-size: 14px;
}

.menu-clear {
	clear: both;
}

.menu-hello {
	width: 100%;
	float: right;
	text-align: right;
	display: inline-block;
	font-variant: normal;
	font-size: 14px;
	font-weight: bold;
}
